/* frontend/src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
}

/* Reset Global */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Importante para mobile */
  background-color: #f4f6f8;
}

#root {
  width: 100%;
  height: 100%;
  display: block;
}